<div class="starter-template">
	<div class="page-header">
		<h1><a href="#" class="editable-session"><%= @session.title %></a></h1>
	</div>
	<div style="padding-bottom: 10px;">
		<div style="float: right;">
			<button id="start-timer" class="btn btn-md countdown-btn" type="button">Start</button>
			<button id="reset-timer" class="btn btn-md countdown-btn" type="button">Reset</button>
		</div>
		<div style="float: right; padding-right: 10px;">
			<a id="countdown-clock" href="#" class="editable-clock not-started"></a>
		</div>
		 <br style="clear: right;" />
	</div>
	<div class="row topic-area" data-id="<%= @session.id %>">
		<div class="col-md-4 todiscuss">
			<h3>To Discuss</h3>
			<% @todiscuss.each do |t| %>
				<%= render file: "topics/show", :locals => { :topic => t } %>
			<% end %>
		</div>
		<div class="col-md-4 discussing">
			<h3>Discussing</h3>
			<% @discussing.each do |t| %>
				<%= render file: "topics/show", :locals => { :topic => t } %>
			<% end %>
		</div>
		<div class="col-md-4 discussed">
			<h3>Discussed</h3>
			<% @discussed.each do |t| %>
				<%= render file: "topics/show", :locals => { :topic => t } %>
			<% end %>
		</div>
	</div>
	<div style="margin-top: 10px; margin-bottom: 10px">
		<button id="add-topic" class="btn btn-md btn-success" type="button">Add Topic</button>
		<button id="clear-topics" class="btn btn-md btn-danger" type="button"> Clear Topics</button>
	</div>
</div>

